@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* header */
header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(206, 20, 110);
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}

body {
  background-color: rgb(24, 173, 196);
  position: relative;
}
header .logo h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: blue;
  padding: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
/* header */

/* section */

section {
  margin-top: 100px;
}
section h2 {
  text-align: center;
  color: rgb(206, 20, 110);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-shadow: -5px 6px 8px rgba(128, 0, 0, 0.6);
  font-size: 30px;
}
section .movie-items {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .movie-items .movie-item {
  width: 180px;
  height: 230px;
  border: 2px solid rgb(160, 149, 149);
  border-radius: 10px;
  margin-top: 35px;
  position: relative;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section .movie-items .movie-item .position {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60%;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(69, 58, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

section .movie-items .movie-item:hover .position {
  display: flex;
}
section .movie-items .movie-item .position h4 {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}
section .movie-items .movie-item .position h5 {
  color: red;
  margin-top: 20px;
  font-weight: bolder;
}
section .movie-items .movie-item .position .times {
  margin-top: 45px;
  display: flex;
  gap: 50px;
  color: #fff;
}
section .movie-items .movie-item img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.movie-items {
  /* border: 2px solid black; */
}

/* section */
